
CoffeeShop/bin/Debug/CoffeeShop.exe
CoffeeShop/bin/Debug/CoffeeShop.pdb
CoffeeShop/bin/Debug/CoffeeShop.exe
CoffeeShop/bin/Debug/CoffeeShop.pdb
CoffeeShop/obj/Debug/CoffeeShop.csproj.CoreCompileInputs.cache
CoffeeShop/obj/Debug/CoffeeShop.csproj.FileListAbsolute.txt
CoffeeShop/obj/Debug/CoffeeShop.csprojAssemblyReference.cache
CoffeeShop/obj/Debug/CoffeeShop.exe
CoffeeShop/obj/Debug/CoffeeShop.pdb
CoffeeShop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CoffeeShop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CoffeeShop/obj/Debug/CoffeeShop.pdb
CoffeeShop/obj/Debug/CoffeeShop.exe
CoffeeShop/obj/Debug/CoffeeShop.csproj.FileListAbsolute.txt
CoffeeShop/bin/Debug/CoffeeShop.pdb
CoffeeShop/bin/Debug/CoffeeShop.exe
